.section1 {
  background-image: url(../images/img431.jpg);
}

.section2 {
  background-image: url(../images/img457.jpg);
}

.section3 {
  background-image: url(../images/img504.jpg);
}

.section4 {
  background-image: url(../images/img500.jpg);
}

.section5 {
  background-image: url(../images/img542.jpg);
}

.section6 {
  background-image: url(../images/img484.jpg);
}
